@import "./color_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $colorTextWhite;
}