@import "./color_variables.scss";
.timetable {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    th {
        background-color: $colorPurple;
        color: $colorTextWhite;
    }
    th, td {
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }
    td {
        color: $colorTextBlack;
        &.active {
            background-color: $colorPurple;
            color: $colorTextWhite;
        }
    }
    &-group {
        font-weight: 600;
        text-transform: uppercase;
    }
    
}
.table-container {
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 3px;
      }
    
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    
      &::-webkit-scrollbar-thumb {
        background: $colorPurple;
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background: $colorPurple;
      }
}